/* Giving the body some color */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, rgb(0, 3, 44), rgb(0, 128, 90));
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}
img {
    display: block;
    width:200px;
    height: auto;
    border-radius: 10px;
}
article ul {
    background-color: white;
    max-width: 400px;
    border-radius: 5px;
}
h2 {
    background-color: white;
    max-width: 440px;
    border-radius: 5px;
}
article h3 {
    background-color: white;
    max-width: 250px;
    border-radius: 5px;
}
.onedrive {
    background-color: white;
    max-width: 130px;
    padding: 5px;
    border-radius: 5px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
:last-of-type p {
    max-width: 200px;
    border-radius: 5px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 20px auto;
    gap: 15px;
}
figure p {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
button{
    background-color: rgb(0, 3, 44);
}

/* Shaping nav buttons more */
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

/* Hover change */
nav a:hover {
    background-color: gray;
    color: white;
}