/* Giving the body some color */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, rgb(0, 3, 44), rgb(0, 128, 90));
    height:1000px;
}
h1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

/* Shaping nav buttons more */
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

/* Hover change */
nav a:hover {
    background-color: gray;
    color: white;
}