




/* making the content in the main divider into a flex objext */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}


/* Centering figures and text */
figure {
    text-align: center;
}

